<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pigeon Chat App</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <link rel="stylesheet" href="public/styles/main.css">

</head>
<body>

    {{{body}}}

    <div class="xygaming-chat-docker">
        <div class="xygaming-chat-docker-wrapper"></div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="public/scripts/direct_chat_app.js"></script>

</body>
</html>