<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pigeon Chat App</title>

    <link rel="stylesheet" href="public/styles/main.css">

</head>
<body>

    {{{body}}}

    <div class="pigeon-chat-docker">
        <div class="pigeon-chat-docker-wrapper"></div>
    </div>

</body>
</html>