#chat {
  background-color: #f1f1f1;
  height: 100%;
  position: relative; }
  #chat .messages article.message {
    padding: 15px; }
    #chat .messages article.message .inner-contents {
      background-color: #fff;
      border-radius: 2px;
      padding: 8px;
      -webkit-transform: scale(1);
              transform: scale(1); }
  #chat .message-input {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0; }
