/*
 * Pigeon
 *
 *
 */
@import '_h5bp';

/*
 * Bootstrap        
 */
@import 'bootstrap-sass/assets/stylesheets/_bootstrap'; 

/*
 * Pigeon Styles        
 */
@import 'pigeon/pigeon';

html,
body {
  width: 100%;
  height: 100%;         
  margin: 0;
  padding: 0;     
}            

body {
  position: relative;
  font-family: myriad-pro, sans-serif, helvetica,arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #f1f1f1;
  color: #404040;
  box-sizing: border-box;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}