<!-- View for logged in user -->

<header id="header">
    <div class="my-username" data-username="{{me.username}}">Welcome {{me.username}}</div>
</header>

<div id="body">
	<aside id="sidebar">
	    <div class="is--online">
	        <ul>
	        	{{#each friends}}
	        	    <li class="chat-with-friend-button" data-handle="{{this.username}}">{{this.username}}</li>
	        	{{/each}}
	        </ul>
	    </div>
	</aside>
    <main id="chat">
        <div class="messages"></div>
        <form class="messageForm">
	        <div class="message-input">
	        	<input class="messageData" type="text" placeholder="Type...">
	        	<button class="sendMessage" type="submit">Send</button>
	        </div>
        </form>
    </main>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="public/scripts/pigeon.js"></script>
<script src="public/scripts/chatApp.js"></script>

<script>

	// do pigeon here
	
</script>
