<h1>Welcome to the chat {{username}}</h1>

<div class="row">
	<div class="is--online">
	    <ul>
	    	{{#each friends}}
	    	    <li class="chat-with-friend-button" data-handle="{{this.usernames}}">{{this.username}}</li>
	    	{{/each}}
	    </ul>
	</div>
</div>