<div class="enter-username">
    <h4>Login</h4>
    <form method="POST" action="/login" class="grab-login">
    	<input type="text" class="my-name" name="username" placeholder="username">
    	<input type="password" class="my-password" name="password" placeholder="password">
    	<button type="submit">Login</button>
    </form>
</div>

<div class="enter-username">
    <h4>Signup</h4>
    <form method="POST" action="/signup" class="grab-signup">
    	<input type="text" class="my-name" name="username" placeholder="username">
    	<input type="password" class="my-password" name="password" placeholder="password">
    	<button type="submit">Login</button>
    </form>
</div>

<script type="text/javascript">
	// $('form.grab-login').submit(function(e) {
	// 	e.preventDefault();
        
 //        // grab user data
	// 	var myName = $(this).find('.my-name').val();
	// 	var myPassword = $(this).find('.my-password').val();
        
	//     $.post('/login', {username: myName, password: myPassword})
	//         .done( function(msg) {
	//         	console.log(msg);
	//         })
	//         .fail( function(xhr, textStatus, errorThrown) { 
	//         	console.log(textStatus);
	//         });

	// });

	// $('form.grab-signup').submit(function(e) {
	// 	e.preventDefault();
        
 //        // grab user data
	// 	var myName = $(this).find('.my-name').val();
	// 	var myPassword = $(this).find('.my-password').val();
        
	//     $.post('/signup', {username: myName, password: myPassword})
	//         .done( function(msg) {
	//         	console.log(msg);
	//         })
	//         .fail( function(xhr, textStatus, errorThrown) { 
	//         	console.log(textStatus);
	//         });

	// });
</script>