<div class="row">
	<div class="enter-username">
	    <form class="grab">
	    	<input class="my-name" placeholder="username">
	    	<input type="submit" style="display: none;">
	    </form>
	</div>
</div>

<script type="text/javascript">
	$('form.grab').submit(function(e) {
		e.preventDefault();
        
        // grab user name
		var myName = $(this).find('.my-name').val();
        
        // this is cool for fun but there is a big flaw with this
	    $.post('/api/login', {attemtedUserName: myName})
	        .done( function(msg) {
	        	document.cookie = 'username = '+myName;
	        	document.location.href = '/chat'
	        })
	        .fail( function(xhr, textStatus, errorThrown) { 
	        	alert(xhr.responseText); 
	        });

	});
</script>