<div class="enter-username">
    <h4>Login</h4>
    <form method="POST" action="/login" class="grab-login">
    	<input type="text" class="my-name" name="username" placeholder="username">
    	<input type="password" class="my-password" name="password" placeholder="password">
    	<button type="submit">Login</button>
    </form>
</div>

<div class="enter-username">
    <h4>Signup</h4>
    <form method="POST" action="/signup" class="grab-signup">
    	<input type="text" class="my-name" name="username" placeholder="username">
    	<input type="password" class="my-password" name="password" placeholder="password">
    	<button type="submit">Login</button>
    </form>
</div>