// some spaghetti code for xy, can be cleaned up & organized
body .sidebar-layout {
  //width: 340px;
  //position: fixed;
}
body .page-body-content { 
  //width: 74%;
  margin-top: 16px;
  //margin-left: 340px;
}
.container-non-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 1270px;
}

.sidebar-panel li a .button--primary .fa {
  font-size: 13px;
}
.platform {
  img {
    max-width: 20px;
  }
}

.my-game-stats {
  border: 1px solid #d4d4d4;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #eee 5%, #ddd 100%);
  background-color: #d1d1d1;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  .block {
    height: 100%;
  }
  .wins,.losses, .percent {
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 4px 15px;
    width: 45px;
    position: relative;
    height: 100%;
    &:after {
      content: '';
      border-style: solid;
      border-width: 15px;
      position: absolute;
      bottom: 0px;
      right: -30px;
      top: 0px;
    }
  }
  .wins {
    background-color: #3bbe2a;
    &:after {
      border-color: #3bbe2a transparent transparent #3bbe2a;
    }
  }
  .losses {
    background-color: #ee1327;
    &:after {
      border-color: #ee1327 transparent transparent #ee1327;
    }
  }
  .percent {
    background-color: $colorBrand;
    &:after {
      border-color: $colorBrand transparent transparent $colorBrand;
    }
  }
  .wins-amount, .losses-amount, .percent-amount {
    float: right;
    margin-right: 10px;
    padding: 4px 0;
  }
}

//hack go back button
.go-back-button {
  text-align: right;
  i {
    color:$colorBrand;
    border: 1px solid #e9e9e9;
    border-bottom-color: #c8c8c8;
    font-size: 10px;
    padding: 5px;
    border-radius: 2px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -4px;
    background-color: #fff;
  }
}
.go-back-button a {
  color: $colorText;
  font-size: 16px;
}

.game-level {
  width: 100%;
  background: #3b3b3b;
  margin-top: 10px;
  position: relative;
  border: 4px solid #eaeaea;
  box-shadow: 0px 0px 0px 1px #c2c2c2;
  font-size: 16px;
  text-decoration: none;

  .progress-bar {
    background: #13bef7;
    height: 100%;
    width: 25%;
    position: absolute;
  }
  .level-progress-text {
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,0.5);
    color: #fff;
    position: relative;
    text-align: center;
    display: block;
    padding: 0;
  }
}

// custom hacks(could be better)
.row {
  margin-right: -7.5px !important;
  margin-left: -7.5px !important;
}
[class*="col-"] {
  padding: 0 7.5px !important;
}
ul {
  margin: 0;
  padding: 0;
}

.nopadding {
  padding: 0;
}
#twitter-feed {
  padding-top: 40px;
  height: 150px;
}
#twitter-feed>img {
  position: absolute;
  top: 40px;
  left: 16px;
}
#twitter-feed .feed-content {
  margin-left: 128px;
  padding-right: 16px;
}
#featured-partners {
  height: 150px;
  padding-top: 40px;
}
#xygaming-partner-carousel .carousel-inner {
  width: 80%;
  margin-left: 10%;
}
#xygaming-partner-carousel .item {
  text-align: center;
  height: 140px;
}
#xygaming-partner-carousel .item a {
  display: block;
}
#xygaming-partner-carousel .item .partner-logo {
  vertical-align: bottom;
  height: 64px;
  display: table-cell;
  text-align: center;
  width: 50%;
  padding-bottom: 16px;
}
#xygaming-partner-carousel .carousel-control.left,
#xygaming-partner-carousel .carousel-control.right {
  background: none;
  width: 32px;
  line-height: 80px;
  font-size: 32px;
  position: absolute;
  top: 0;
  opacity: 1;
  z-index: 10;
  text-align: center;
  color: $colorText;
}
#xygaming-partner-carousel .carousel-control.left {
  left: 0px;
}
#xygaming-partner-carousel .carousel-control.right {
  right: 0px;
}


