.tagline_overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ddd;
  position: absolute;
  width: 100%;
  transition: 0.3s all ease-out;
  h1, h4 {
    color: #fff;
    margin: 0;
    //text-transform: uppercase;
    text-align: left;
    font-family: myriad-pro, sans-serif; // Had to duplicate this to force use when there is specificity
  }
  p {
    padding: 10px 0px 10px;
    height: 60px;
    overflow: hidden;
    margin: 0;
    font-family: myriad-pro, sans-serif; // Had to duplicate this to force use when there is specificity
  }

}

#xygaming-news-box {
  position: relative;
  @media (min-width: 1400px) {
    .xy-col-md-headlines, .xy-col-md-stories {
      float: left;
    }
    .xy-col-md-headlines {
      width: 28%;
    }
    .xy-col-md-stories {
      width: 22%;
    }
  }
  .content-block {
    background-size: cover;
    cursor: pointer;
    width: 100%;
    border: 0;
    position: relative;
    transition: 0.3s all ease-out;
    overflow: hidden;
    &:hover {
      .big-tagline-overlay, .small-tagline-overlay {
        background-color: rgba(0, 0, 0, 0.8);
        bottom: 0;
        overflow: hidden;
      }
    }
    &.featured-content-block {
      height: 300px;
      ul.slider-circles {
        position: absolute;
        text-align: center;
        padding: 0;
        top: 20px;
        display: inline-block;
        right: 20px;
        transform: translateY(-50%);
        li {
          border: 0;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-image: linear-gradient(to bottom, #eee 0%, #fff 100%);
          list-style: none;
          margin: 0 2px;
          &.active {
            background-image: linear-gradient(to bottom, $colorBrand 0%, darken($colorBrand, 10%) 100%);
          }
        }
      }
    }
    &.headlines-content-block {
      height: 142.5px;
    }
    @media only screen and (max-width: 979px) {
      margin-top: 15px;
    }
    .big-tagline-overlay {
      @extend .tagline_overlay;
      bottom: -90px;
      padding: 20px 20px 30px;
      h1 {
        font-size: 24px;
        height: 60px;
      }
    }
    .small-tagline-overlay {
      @extend .tagline_overlay;
      bottom: -60px;
      padding: 20px 20px 10px;
      h4 {
        font-size: 16px;
        height: 40px;
        line-height: 1em;
      }
    }
  }
}