// xygaming default panel
.xygaming-panel {
  background: #fff;
  position: relative;
  border-radius: 0;
  box-shadow: $panelShadow;
  margin-bottom: 16px;
  overflow: hidden;
  &.promotion {
    height: 100%;
    &:before { 
      content: '';
      background-image: url(../images/featured-promotions.jpg);
      background-position: center;
      background-size: 620px;
      position: absolute;

    }
  }
  .news-list-detail .fa-chevron-right {
    margin-right: -6px;
    font-size: 10px;
  }
}

// xygaming panel badges
.xygaming-panel-badge-left, .xygaming-panel-badge-right {
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: $colorBrand;
  color: white;
  display: inline-block;
  padding: 8px;
  line-height: 15px;
  height: 30px;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.xygaming-panel-badge-left {
  left: 0;
  &:after {
    content: '';
    border-color: $colorBrand transparent transparent $colorBrand;
    border-style: solid;
    border-width: 15px;
    position: absolute;
    bottom: 0px;
    right: -30px;
    top: 0px;
  }
}
.xygaming-panel-badge-right {
  right: 0;
  &:before {
    content: '';
    border-color: $colorBrand $colorBrand transparent transparent;
    border-style: solid;
    border-width: 15px;
    position: absolute;
    left: -30px;
    top: 0px;
  }
  &.close-guide {
    cursor: pointer;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .icon-wrap {
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    .fa-chevron-right {
      margin-right: -7px;
      font-size: 13px;
    }
  }
}

// xygaming #myfriends panel
#my-friends-panel {
  img {
    border-radius: 0;
    border: 1px solid #333;
  }
}

// xygaming advertisement panel
.advertisement-panel {
  overflow: hidden;
  img {
    max-width: 100%;
  }
  li {
    font-size: 13px;
    line-height: 1.65em;
    .icon-wrap {
      margin-right: 10px;
      .fa-chevron-right {
        color: $colorBrand;
        margin-right: -7px;
        font-size: 13px;
      }
    }
    a {
      // color: $colorText;
      // text-decoration: none;
      // font-weight: bold;
    }
  }
  .overlay-block {
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    height: 60px;
    .overlay-text {
      color: #fff;
      h1 {
        font-size: 16px
      }
      h3 {
        font-size: 14px;
      }
    }
  }
  .new-user-steps {
    i.fa-info-circle {
      color: $colorBrand;
      font-size: 43px;
    }
    span.user-info {
    }
  }
}

#game-news {
  min-height: 260px;
  li {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 8px;
  }
}

// MOVE to ad carousel module
// xygaming advertisement carousel
#xygaming-advertisement-carousel  {
  height: 100%;
  .carousel-inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      > .item {
        height: 100%;
      }
  }
}
#xygaming-advertisement-carousel .carousel-caption {
  background-color: rgba(0,0,0,0.8);
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  height: 60px;
  p {
    padding: 0;
    margin: 0;
    font-weight: 400;
    &.title {
      font-size: 18px;
    }
    &.sub-title {
     font-size: 14px;
    }
  }
}
#xygaming-advertisement-carousel .carousel-control.left,
#xygaming-advertisement-carousel .carousel-control.right {
  background: none;
  width: 64px;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  position: absolute;
  bottom: 20px;
  top: auto;
  opacity: 1;
  z-index: 10;
  text-align: center;
}
#xygaming-advertisement-carousel .carousel-control.left {
  left: 0px;
}
#xygaming-advertisement-carousel .carousel-control.right {
  right: 0px;
}


// xygaming new player guide
#new-player-guide {
  height: 270px;
  .xygaming-newplayer-panel {
    padding: 0px;
    padding-top: 40px;
    border-left: 1px solid $colorBorder;
    text-align: center;
    height: 100%;
    overflow: hidden;
    &:hover {
      a {
        .newplayer-step {
          background-color: lighten($colorBrand, 10%);
        }
      }
    }
    a {
      color: $colorText;
      text-decoration: none;
      .newplayer-step {
        background-color: $colorBrand;
        border: 1px solid darken($colorBrand, 5%);
        margin-top: 45px;
        margin-bottom: 10px;
        height: 120px;
      }
    }
    img {
      max-width: 80%;
      margin: 10px 0;
    }
  }
}

#new-player-guide .xygaming-newplayer-panel:first-child {
  border: none;
}
#new-player-guide .xygaming-newplayer-panel h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 4px 0;
}
#new-player-guide .xygaming-newplayer-panel p {
  padding: 5px;
  margin: 0;
  font-size: 14px;
}

.xygaming-panel.choose-money-type .nav-tabs {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #eee 5%, #ddd 100%);
  background-color: #d1d1d1;
  text-align: center;
  h1 {
    font-size: 21px;
  }
  li {
    width: 50%;
  }
}
.xygaming-panel .nav-tabs > li.active > a, .xygaming-panel .nav-tabs > li.active > a:hover, .xygaming-panel .nav-tabs > li.active > a:focus {
  background-color: $colorBrand;
  box-shadow: inset 0 0 6px 0 rgba(0,0,0,0.4);
  color: #fff;
}