.form-signin {
  max-width: 330px;
  padding: 80px 40px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid;
  border-color: #d8d8d8;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-radius: 3px;
  top: 18%;
  position: relative;
  .form-control {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 0;
    margin: 10px 0 20px;
    border-radius: 1px; 
  }
  .btn-block {
    border-radius: 2px;
    padding: 8px 16px;
    background-color: $colorBrand;
    border-color: $colorBrand;
    &:hover {
      background-color: lighten($colorBrand, 5%);
    }
  }
}