// main button
.button--primary {
  // old
  // background-color:#D6D6D6;
  // border:1px solid #d4d4d4;
  // border-bottom-color: #8e929e;
  // border-top-color: #ccc;
  // border-radius: 0;
  // display:inline-block;
  // cursor:pointer;
  // color: $colorText;
  // font-size:14px;
  // font-weight:bold;
  // padding:3px 12px;
  // text-decoration:none;
  // margin-right: 2px;
  // letter-spacing: 0;
  // outline: 0;
  // transition: 0.3s all ease-in-out;
  
  // new
  background-color: #d8d8d8;
  border: 1px solid #cfcfcf;
  border-bottom-color: #aaa;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  color: #404040;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 12px;
  text-decoration: none;
  margin-right: 2px;
  letter-spacing: 0;
  outline: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;

  &:hover, &:focus {
    background-color:lighten(#D6D6D6, 5%);
  }
}

.button--branded {
  background-color: $colorBrand;
  box-shadow: 0 0 0 0;
  border: 1px solid $colorBrand;
  border-radius: 0;
  color: #fff;
  display:inline-block;
  cursor:pointer;
  font-weight:normal;
  padding:3px 12px;
  text-decoration:none;
  margin-right: 2px;
  font-size: 14px;
  letter-spacing: 0.02em;
  outline: 0;
  transition: 0.3s all ease-in-out;
  &:hover, &:focus {
    background-color:lighten($colorBrand, 10%);
    text-decoration:none;
    color: #fff;
  }
}

.button--outlined {
  background-color: transparent;
  box-shadow: 0 0 0 0;
  border: 1px solid $colorText;
  border-radius: 0;
  color: $colorText;
  display:inline-block;
  cursor:pointer;
  font-size:14px;
  font-weight:normal;
  padding:3px 12px;
  text-decoration:none;
  margin-right: 2px;
  letter-spacing: 0;
  outline: 0;
  transition: 0.3s all ease-in-out;
  &:hover, &:focus {
    border: 1px solid lighten($colorText, 10%);
    color: lighten($colorText, 10%);
  }
  &.disabled {
    color: $colorTextDisabled;
    border: 1px solid $colorBorderDisabled;
    cursor: default;
    &:hover, &:focus {
      color: $colorTextDisabled;
      border: 1px solid $colorBorderDisabled;
    }
  }
}

.button--block {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.button--toggle {
  border: 2px solid $colorText;
  &.selected {
    background-color: $colorBrand;
    box-shadow: 0 0 0 0;
    border: 2px solid transparent;
    color: #fff;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    &:hover, &:focus {
      color: #fff;
      background-color:lighten($colorBrand, 10%);
    }
  }
  &.disabled {

  }
  &:hover {
    border: 2px solid $colorBrand;
    color: $colorBrand;
    text-decoration: none;
  }
}

button.button--featured {
  @extend .button--primary;
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 6px 0;
}

a.button--featured { 

  margin-bottom: 0;
  position: relative;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;

  background-color:#D6D6D6;
  border:1px solid #d4d4d4;
  border-bottom-color: #9a9a9a;
  display:inline-block;
  cursor:pointer;
  text-shadow: 1px 1px 0px #fff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:3px 12px;
  text-decoration:none;
  margin-right: 2px;

  &:hover {
    text-decoration: none;
  }
  > :first-child {
    position: absolute;
    background-color: $colorBrand; 
    left: 0;
    top: 0;
    bottom: 0;
    width: 52px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  span {
    display: block;
    margin: 0 0 0 6px;
    font-size: 16px;
    color: $colorText;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}