button.button--primary {
  box-shadow: inset 0px 1px 0px 0px #ffffff, 0 2px 2px rgba(0,0,0,0.1);
  background:linear-gradient(to bottom, #e9e9e9 0%, #dfdfdf 49%, #d6d6d6 50%, #cccccc 100%);
  background-color:#d1d1d1;
  border:1px solid #d4d4d4;
  border-bottom-color: #9a9a9a;
  border-top-color: #dfdfdf;
  border-radius: 0;
  display:inline-block;
  cursor:pointer;
  text-shadow: 0 1px 0px #fff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:3px 12px;
  text-decoration:none;
  margin-right: 2px;
}
button.button--primary:hover {
  background:linear-gradient(to bottom, #cccccc 5%, #d1d1d1 100%);
  background-color:#cccccc;
}