#chat {
	background-color: #f1f1f1;
	height: 100%;
	position: relative;

	.messages {

		.message {
			padding: 15px;
			li {
				background-color: #fff;
				border-radius: 2px;
				padding: 8px;
				margin-bottom: 15px;
				list-style: none;
			}
		}
		
	}

	.message-input {
		display: flex;
		align-items: center;
		background-color: #fff;
        position: absolute;
        height: 60px;
        width: 100%;
        bottom: 0;
		input {}

	}
	
}