#chat {
	background-color: #f1f1f1;
	height: 100%;
	position: relative;

	.messages {

		padding: 15px 0;

		// temp HACK
		height: 80vh;
		overflow: scroll;
		
	}

	.message-input {
		display: flex;
		align-items: center;
		background-color: #fff;
        position: absolute;
        height: 60px;
        width: 100%;
        bottom: 0;
		input {}

	}
	
}