<div id="{{chatID}}">
    
    <!-- chat hack for other ID -->
    <input id="{{altChatID}}" type="hidden">

	<div class="direct-message-header">
	<div class="online-status online"></div>
	  <div class="talkingTo display-inline-block">{{talkingTo}}</div>
	  <div class="pull-right">
		  <div class="minimize-chat">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVQ4T+2TsQ2AMBADz5swAEMwCjMwASzATAxBTzYxSqSIAiheafPd63Uu7Ldsz8AKJGIzZE62k6S8hKewtg9JU5gGCtsF3h7YXoDxx9RT0l5vnyY2C0Ti7DE+r9xcplrnK5IAkBu83VSUgWFzT33FAAAAAElFTkSuQmCC"/>
		  </div>
		  <div class="close-chat ml-5">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAkklEQVQ4T82T0QnDMAxE7zbpCMkGGaWZoB2h2aAbJKNkhGxQb3JBRgZDcbDxT/Qlg97hOyRKegL4AAhoq4dxlBRI2qO5IitpJzk10wAie08BSQeAL8nNrHnQL5JjbrVowYEVwOxA7JNgErnMIBOx+T/Yf1YOsUug20IhxDfJoSrE2qW6zyJ1H1M651+td5+zC15OarOfYberKgQAAAAASUVORK5CYII="/>
		  </div>
	  </div>
	</div>

	<div class="direct-messages">
	  <ul class="no-list-style"></ul>
	</div>

	<form class="direct-message-input submit-message" >
	  <div class="xygaming-input-bar gaming-chat chat-input">
		  <input type="text" class="message" style="width: 90%">
		  <button type="submit" class="button--send">Send</button>
		</div>
	</form>
</div>