<div class="messages chat" style="overflow-y: scroll;"> 
  <ul class="no-list-style"></ul>
</div>

<div class="line-chat"></div>
<div class="line-chat second"></div>

<form class="submit-message">
	<div class="xygaming-input-bar gaming-chat chat-input">
	  <input type="text" style="width: 90%">
	  <button type="submit" class="button--send">Send</button>
	</div>
</form>