<div class="{{class}}">
    <div>
		<span class="user-name"><strong>{{nickname}}</strong></span>
		<span class="time-stamp ml-5">{{timeStamp}}</span>
	</div>
	<div>
	    <span class="text">{{message}}</span>
	</div>
</div>