.sidebar-panel {
  background-color: #fff;
  margin-top: 16px;
  box-shadow: $panelShadow;
  border-radius: 0;
}

.sidebar-panel li:first-child {
  background-color: $colorBrand;
  border-bottom: 0;
  color: #fff;
  border-top: none;
  text-indent: 8px;
  float: none;
  display: inline-block;
  padding: 5px 0px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  li {
    a {
      font-weight: normal;
    }
  }
}

.sidebar-panel li {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin: 0px !important;
  padding: 0;
  position: relative;
  &.active a:first-child {
    font-weight: bold;
    background-color: #eee;
    text-shadow: none;
    &:before {
      content: "";
      width: 4px;
      position: absolute;
      background-color: #2e9fff;
      height: 100%;
      top: 0;
    }
  }
  &:hover {
    a {
      background-color: #eee;
    }
  }
  .edit-profile {
    color: $colorText;
    display: block;
    font-weight: lighter !important;
    position: absolute;
    right: 0;
    padding: 10px 5px;
    top: 0;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $colorText;
    } 
  }
}

.sidebar-panel li a:first-child {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: $colorText;
  border-radius: 0;
  transition: 0.6s color ease-in-out;
  &.has-xy-gradient {
    padding: 0;
  }
  &.nothing-found {
    font-weight: lighter;
  }
  img.base64-icon {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin: 0 11px;
  }
  .menu-item {
    vertical-align: middle;
  }
}

.sidebar-panel li a .fa {
  width: 25px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 15px;
}

.sidebar-panel li a button .fa {
  margin: 0;
}

.sidebar-panel li a .text {
  border-radius: 0;
}

.sidebar-panel li ul {
  display: inline-block;
  li {

  }
}

.sidebar-panel li .xybadge {
  margin-left: auto;
  width: 44px;
  text-align: center;
  color: $colorText;
  display: inline-block;
}

.sidebar-panel li .xy-gray-gradient {
  background-color: #eee;
  border-left: 1px solid #d4d4d4;
  padding: 10px 0;
  font-weight: bold;
}

.sidebar-panel li .badge-zero {
  font-weight: normal;
}

.sidebar-panel li:first-child .xybadge {
  color: #fff;
  width: auto;
  margin-right: 8px;
  background: none;
  line-height: inherit;
  padding: 0;
}

.sidebar-panel li:first-child .xybadge .fa {
  width: auto;
  text-align: left;
  font-size: inherit;
}

.sidebar-panel li:first-child .xybadge:hover {
  text-decoration: underline;
}

.sidebar-panel li .btn-gray {
  float: right;
}

#my-games-panel .platform {
  margin-left: auto;
}

#my-games-panel .platform .fa {
  width: 20px;
  font-size: 14px;
}

#my-friends-panel {
  li {
    .message-buttons {
      &.is--online {
        .chat-with-friend-button {
          display: inline-block;
        }
        .message--button {
          display: none !important;
        }
      }
      .message--button {
        display: inline-block;
      }
      .chat-with-friend-button {
        display: none;
      }
    }
    a img {
      border: 1px solid #aaa;
      border-radius: 1px;
      background-color: #ddd;
    }
  }
}