#xygaming-help {

	.help-sidebar-nav {
	}
	.help-page-main {
		border-left: 1px solid #ddd;
		.help-page-heading {
			border-bottom: 1px solid #ddd;
			padding: 16px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
			h2 {
			  font-weight: 600;
		    }
		}
		.help-page-body {
			padding: 16px;
			h3 {
				font-weight: 600;
			}
			.help-section-title {
				margin-bottom: 6px;
				font-weight: 600;
			}
		}
    }



	// scrollspy
	.group {
	    margin-bottom: 50px;
	}
	.group .subgroup {
	    margin: 20px 0 0 15px;
	}
	.fixed {
	    position: fixed;
	}

	/* sidebar */
	.bs-docs-sidebar {
	    padding-left: 5px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    width: 12.25%;
	}

	/* all links */
	.bs-docs-sidebar .nav>li>a {
	    color: #404040;
	    border-left: 2px solid transparent;
	    padding: 4px 10px;
	    font-size: 16px;
	}

	/* nested links */
	.bs-docs-sidebar .nav .nav>li>a {
	    padding-top: 1px;
	    padding-bottom: 1px;
	    padding-left: 30px;
	    font-size: 14px;
	}

	/* active & hover links */
	.bs-docs-sidebar .nav>.active>a, 
	.bs-docs-sidebar .nav>li>a:hover, 
	.bs-docs-sidebar .nav>li>a:focus {               
	    text-decoration: none;          
	    background-color: transparent;
	    border-right: 4px solid $colorBrand;
	}
	/* all active links */
	.bs-docs-sidebar .nav>.active>a, 
	.bs-docs-sidebar .nav>.active:hover>a,
	.bs-docs-sidebar .nav>.active:focus>a {
	    font-weight: 600;
	}
	/* nested active links */
	.bs-docs-sidebar .nav .nav>.active>a, 
	.bs-docs-sidebar .nav .nav>.active:hover>a,
	.bs-docs-sidebar .nav .nav>.active:focus>a {
	    font-weight: 600;
	    border-right: 0px solid;
	}

	/* hide inactive nested list */
	.bs-docs-sidebar .nav ul.nav {
	    display: none;           
	}
	/* show active nested list */
	.bs-docs-sidebar .nav>.active>ul.nav {
	    display: block;           
	}
}