.xygaming-register {
	max-width: 970px;
	padding: 50px 0;
	margin: 0 auto;
	.form-group {
	  margin-bottom: 15px;
	  label {
	    font-weight: normal;
	  }
	  &.xygaming-error {
	    .form-control {
	      border: 1px solid #ee6f7b;
	      box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.1);
	      background: linear-gradient(to top, #ecd6d8 0%, #fbe5e7 100%);
	    }
	    p {
	      color: #ee6f7b;
	      text-align: center;
	    }
	  }
	  .form-control {
	    margin: 0;
	    border: 1px solid #c3c3c3;
	    box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.1);
	    background: linear-gradient(to top, #ededed 0%, #fefefe 100%);
	    &.remeber-details {
	      input, p {
	        display: inline-block;
	        vertical-align: middle;
	      }
	      input {
	        width: 15px;
	        margin-right: 5px;
	      }
	    }
	  }
	}
}

.registration-message {
	height: 100vh;
	.message-wrap {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		p.message {
            font-size: 20px;
		}
	}
}