/**
 * XyGaming News Carousel
 *
 */
#xygaming-news-carousel .carousel-inner {
  height: 300px;
  > .item {
    height: 100%;
  }
}
#xygaming-news-carousel .nav.navbar-nav li:first-child {
  border-left: none;
}
#xygaming-news-carousel .nav.navbar-nav li {
  width: 20%;
  border-left: 1px solid #d4d4d4;
}
#xygaming-news-carousel .nav.navbar-nav li a {
  padding: 15px 10px;
  display: block;
  font-size: 10px;
  color: #404040;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 4px solid #d4d4d4;
  background: none;
  height: 54px;
  line-height: 1em; 
}
#xygaming-news-carousel .nav.navbar-nav li a.single-line {
  line-height: 2em;
}
#xygaming-news-carousel .nav.navbar-nav li a:hover {
  border-bottom: 4px solid #03b0e8;
  &:before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #03b0e8;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
#xygaming-news-carousel .nav.navbar-nav li.active a {
  border-bottom: 4px solid #03b0e8;
  &:before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #03b0e8;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
#xygaming-news-carousel .carousel-caption {
  left: auto;
  top: 0;
  text-align: left;
  width: 350px;
  padding: 0 16px;
  font-size: 12px;
  height: 100%;
  &.left {
    right: auto;
    left: 0;
  }
  &.center {
    right: 0;
    left: 0;
  }
  &.right {
    right: 0;
  }
  .news-text {
    position: relative;
    top: 50%;
    padding: 20px;
    bottom: 0;
    background: rgba(31, 34, 40, 0.9);
    margin: auto;
    transform: translatey(-50%);
  }
}
#xygaming-news-carousel .carousel-caption .fa {
  color: #03b0e8;
}