/**
 * XyGaming Challenge Panel
 *
 */
#xygaming-challenge-panel {
	.xygaming-challenge-panel {
		background: #03b0e8;
		color: #fff;
	  height: 190px;
	  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
	  transition: 0.4s background ease-in-out;
	  position: relative; 
	  &:hover {
	  	background: #16e733;
	  }
	  .overlay-block {
		  background-color: rgba(0, 0, 0, 0.8);
		  left: 0;
		  right: 0;
		  padding: 10px 8px 15px;
		  text-align: center;
		  height: 78px;
		  position: absolute;
	    bottom: 0px;
		  .overlay-text {
		    color: #fff;
		    h1 {
		      font-size: 16px;
		      font-weight: bold;
		      margin-bottom: 5px;
		    }
		    h3 {
		      font-size: 14px;
		    }
		  }
		}
	}
}