/**
 * XyGaming Match History
 *
 */
#match-history {
	.reputation-history-item {
		.reputation-status {
			background: #fff;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 5px 0;
			.reputation-status-item {
				padding: 0 15px;
				.game-image,.game-title {
					display: inline-block;
				}
				.game-image img {
					max-width: 20px;
					margin-right: 6px;
				}
			}
		}
		.reputation-comment {
			padding: 8px 15px;
			.opponent {
				img {
					border: 1px solid #333;
					max-width: 21px;
				}
		  }
		  .opponent-remark {
		  	padding: 10px 0;
		  	.comment {
					background: #404040;
					color: #fff;
					border-radius: 8px;
					padding: 8px 16px;
					position: relative;
					&:after {
						content: "";
				    position: absolute;
				    border-style: solid;
				    display: block;
				    width: 0;
				    top: -10px;
				    bottom: auto;
				    left: 50px;
				    border-width: 10px 0px 0px 10px;
				    border-color: transparent #404040;
					}
					&.blue {
						background: #1cb5e7;
						&:after {
							border-color: transparent #1cb5e7;
						}
					}
		  	}
		  }
		}
	}
}