.sidebar-panel {
  margin-top: 16px;
  box-shadow: 0 0 8px 0px #d6d6d6;
  border: 1px solid #d4d4d4;
  border-radius: 0;
  overflow: hidden;
}
.sidebar-panel li:first-child {
  background-color: #11bef8;
  border: 1px solid darken(#11bef8, 5%);
  background:linear-gradient(to bottom, #0fbbf4 0%, #0ab6ef 49%, #05b2ea 50%, #00ade5 100%);
  color: white;
  border-top: none;
  text-indent: 8px;
  float: none;
  display: inline-block;
  padding: 8px 12px;
  line-height: 15px;
  vertical-align: middle;
}
.sidebar-panel li {
  width: 100%;
  border-top: 1px solid #d6d6d6;
  margin: 0px !important;
  padding: 0;
}
.sidebar-panel li a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #404040;
  background: #fff;
  border-radius: 0;
  &.has-xy-gradient {
    padding: 0;
  }
}
.sidebar-panel li a .fa {
  width: 40px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.sidebar-panel li a .text {
  border-radius: 0;
}
.sidebar-panel li .xybadge {
  margin-left: auto;
  width: 34px;
  text-align: center;
}
.sidebar-panel li .xybadge:hover {
  text-decoration: underline;
}
.sidebar-panel li .xy-gray-gradient {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #f0f0f0 0%, #eaeaea 49%, #e6e6e6 50%, #e1e1e1 100%);
  background-color:#d1d1d1;
  border-left:1px solid #d4d4d4;
  padding: 10px 0;
}
.sidebar-panel li:first-child .xybadge {
  width: auto;
  color: white;
  margin-right: 8px;
  background: none;
  line-height: inherit;
  padding: 0;
}
.sidebar-panel li:first-child .xybadge .fa {
  width: auto;
  text-align: left;
  font-size: inherit;
}
.sidebar-panel li:first-child .xybadge:hover {
  text-decoration: underline;
}

.sidebar-panel li .btn-gray {
  float: right;
}
#my-games-panel .platform {
  margin-left: auto;
}
#my-games-panel .platform .fa {
  width: 20px;
  font-size: 14px;
}